/* Styles for MatchValidation +/- controls */
.match-validation__controls button.match-validation__button--increment,
.match-validation__controls button.match-validation__button--decrement {
    background-color: #FFC107;
    border-color: #FFC107;
    color: #000;
}

.match-validation__controls button.match-validation__button--increment:hover,
.match-validation__controls button.match-validation__button--decrement:hover,
.match-validation__controls button.match-validation__button--increment:focus,
.match-validation__controls button.match-validation__button--decrement:focus {
    background-color: #ffca2c;
    border-color: #ffca2c;
    color: #000;
}
